body {
    color: #9f65eb;
    font-family: Agency FB;
    font-size: 3vh;
    background-image: url(../Images/space.gif);
}

#title {
    top: 5%;
    position: absolute;
    left: 40%;
    text-shadow: 2px 2px white;
}

#languageNav {
    float: right;
}

h1[lang=en], h1[lang=fr] {
  display: none
}